@font-face {
  font-family: 'Maison Neue';
  src: url("./fonts/hinted-MaisonNeue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }


body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-size: 3.8rem;
}

@media only screen and (max-width: 600px){
	body{
		font-size: 3rem;
	}
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    overflow: hidden;
	width: 100vw;
	height: 100vh;
}